body {
	height: 100%;
	background: linear-gradient(135deg, rgba(234,164,164,.75) 0%,rgba(241,116,50,0.75) 26%,rgba(234,85,7,0.75) 65%,rgba(251,149,94,0.75) 100%), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPUau4Ve8UKzFm2lqGiEP0Zb4MeKjiDykbU8Pq6PN-8ZCSzVDz') no-repeat center center fixed;
	background-size: cover;
	min-height: 100vh;
}

.container {
	margin: 0px 40px;
}

.itemContainer{
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr; 
}

.category{
  background: rgba(115, 12, 14, .3);
  margin: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryName {
	font-size: 2rem;
	color: rgb(239,200,214);
}

.inputContainer {
	display: flex;
	justify-content: center;
}

.plusIcon {
	height: 50px;
	opacity: .3;
}

.plusIcon:active {
	opacity: .25;
}

.plusIcon:hover {
	opacity: 1;
}



/*
###### categories using flexbox instead of css grid
*/
/*.itemContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category{
  width: 26vw;
  height: 100px;
  border-radius: 4px;
  background: rgba(115, 12, 14, .3);
  margin: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryName {
	font-size: 2rem;
	color: rgb(239,200,214);
}
*/